*,
::after,
::before{
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,ul,li,a{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
 }

@font-face{
  font-family: NewYorkExtraLargeBold;
  src:url('/assets/fonts/NewYorkExtraLargeBold.otf')
}

@font-face {
  font-family: SFUIDisplayBold;
  src: url(./assets/fonts/SFUIDisplay-Bold.woff);
}


@font-face {
  font-family: SFUIDisplayLight;
  src: url(./assets/fonts/SFUIDisplay-Light.woff);
}


@font-face {
  font-family: SFUIDisplayRegular;
  src: url(./assets/fonts/SFUIDisplay-Regular.woff);
}


@font-face {
  font-family: SFUIDisplaySemibold;
  src: url(./assets/fonts/SFUIDisplay-Semibold.woff);
}

li{
  list-style: none;
}

body{
  font-family: SFUIDisplayRegular, serif;
  font-size: 16px;
}

.link--color{
  background-color: #FD665E;
  font-family: SFUIDisplaySemibold, serif;
  font-size: 0.875rem;
  line-height: 2.5rem;
   border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.title{
  font-family: NewYorkExtraLargeBold, serif;
font-size: 3rem;
line-height: 3.72rem;
letter-spacing: -0.04em;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
}

/* !header */

.header__container{
   max-width: 1340px;
   margin: 0 auto;
   padding: 24px 10px;
  
 
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
}

.header__links{
  display: flex;
  align-items: center;
 }


.menu__list{
  display: flex;
}

.header__logo{
  margin-right: 38px;
}

.header__link{
   padding-left: 25px;
  padding-right: 25px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 0.875rem;

  letter-spacing: 0.01em;
  color: #585858;
}

.menu__list-link{
  border-bottom: 1px solid transparent;
  }

  .menu__list-link:hover{
    border-bottom: 1px solid #585858;
  }

   .header__controls{
    display: flex;
    align-items: center;
  }

  .searhc{
    display: flex;
    margin-right: 14px;
    padding: 10px;
  }

  .sign-in{
    margin-right: 16px;
  }

  .sign-up{
    color: #fff;
  }

  /* !promocion */

  .promotion{
    max-width: 1090px;
    margin: 0 auto;
    margin-bottom: 48px;
    padding-left: 10px;
    padding-right: 10px;
  }

    .promocion__block{
      display: flex;
    }
  
.promocion__description{
  margin-right: 55px;
}

  .promocion__title{
    max-width: 870px;
    font-family: NewYorkExtraLargeBold;
    font-size: 7rem;
    line-height: 7rem;
    letter-spacing: -0.04em;
    margin-bottom: 47px;
  }

  .title--color{
color: #FD665E;
  }

  .promocion__description{
    max-width: 290px;
  }

  .promocion__text{
  font-family: SFUIDisplayRegular;
  font-size: 1rem;
  line-height: 1.6rem;
letter-spacing: 0.01em;
margin-bottom: 48px;
  }

  .promotion__link{
    color: #fff;
    padding: 15px 34px;
  }

  /* !gallery */

  .gallery{
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 64px;
  }

  .section__title{
    max-width: 535px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
  }

  .gallerry__images{
    display: grid;
    grid-template-columns: repeat(3,[col]1fr);
    gap: 45px;
  }

  .gallerry__img:hover{
    cursor: pointer;
       filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }